@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.body{
  height: 100dvh;
}
.row {
    display: flex;
  }


.mainCenter{
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
}

  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  @media (max-width: 600px) {
    .sm{
      height:38px;
      width:38px;
    }
    .solve{
      height:20vmin;
      width:28vmin;
      font-family: 'Quicksand', sans-serif;
      font-size:4vmin;
      font-weight: bold;
    }
    .heading{
      font-size:10vmin
    }
    .mainCenter{
      padding-left: 25px;
      padding-right: 25px;
    }
  }